{% extends "seisaku/base.html" %} {# ベーステンプレートを継承 #}
{% load static %}

{# ページタイトルの設定 #}
{% block title %}About{% endblock %}

{# <!DOCTYPE html> や <html> <head> <body> は base.html に移動したため削除 #}

    {# Page Header 部分を block header で囲む #}
    {% block header %}
    <header class="masthead" style="background-image: url('{% static "assets/img/about-bg.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About</h1>
                        <span class="subheading">このブログについて</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {# Main Content 部分を block contents で囲む #}
    {% block contents %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>このブログは Django の学習用サンプルサイトです。<br>
                   Clean Blog テンプレートを利用して制作しています。</p>
            </div>
        </div>
    </div>
    {% endblock %}

{# フッター部分および JS 読み込みは base.html に移動済み #}
